<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Spring Boot + JPA + Datatables</title>
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="js/datatable.js"></script>
</head>

<body>

	<div th:replace="fragments/header :: header"></div>
    	<br/><br/><br/><br/><br/><br/>
	<h4>Employee Table</h4>
	<table id="employeesTable" class="table table-striped table-bordered" style="width:99%">
      
       <!-- Header Table -->
       <thead>
            <tr>
                <th>Id</th>
				<th>Name</th>
                <th>Username</th>
                <th>EmpId</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Title</th>
                <th>Team</th>
                <th>Seat</th>
                <th>Extension</th>
                <th>Manager</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        
    </table>
    
</body>
</html>